:root {
    --chalkWhite: rgba(255, 255, 255, 0.582);
    --chalkLite: rgba(255, 255, 255, 0.123);
    --red:  rgba(255, 44, 44, 0.918);
}

body {
    background-image: url('../images/chalkboard.jpeg');
    height: 100vh;
    background-position: right bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(128, 128, 128, 0.507);

    font-family: 'dk_cool_crayonregular';
    color: var(--chalkWhite);
}

#previous-student-window {
    /* height: 30vh; */
    height: 160px;
    width:85vw;
    
    background-color: var(--chalkLite);
    border-bottom: solid rgba(0, 0, 0, 0.479) 8px;
    border-right: solid rgba(0, 0, 0, 0.671) 8px;
    border-bottom-right-radius: 5px;
    overflow-x: scroll;
}

#previously-selected {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
    height: 150px;
    width:20vw;
    /* border: dashed red 1px; */
}

#previously-selected li {
    margin-left: .5em;
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
}

#previously-selected li p {
    margin-left: .5em;
line-height: 1.2em;
    text-decoration: line-through;
}

#name-container {
    position: fixed;
    top: 40%;
    left : 10%;
    /* transform:  translateX(-50%); */

}

#p1, #p2 {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    margin: 0 0;
    color: var(--chalkWhite);
    font-size: 7em;
    line-height: 1.5em;
    letter-spacing: .2em;
}


#utility {
    position: absolute;
    top: 15px;
    right: 25px;

    height: 145px;
    /* border: dashed red 1px; */
 }

 #student-count-container {
     position: absolute;
     right:0;
     bottom: 70px;
     /* display: flex; */
     /* justify-content: space-between; */
 }

 #student-count {
     text-align: end;
 }

 #time-container {
    text-align: end;
    position: absolute;
    right:0;
    bottom: 0;
 }

 #time-container p {
     margin-top:5px
 }


#erase-board:hover {
    color:var(--red);
    font-size: 1.1em;
    cursor: pointer;
}

#erase-board-modal {
    position: fixed;
    top: 50%;
    left: 15%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    min-width: 20vw;
    padding:1em;

    border: dashed var(--red) 2px ;
    border-radius: 1em;
    background-color: var(--chalkLite);
}

#erase-board-modal p {
    display: inline;
    margin: 0 1em;
    font-size: 4em;
}
#erase-board-modal p:hover {
    cursor: pointer;
    color: var(--red);
}
#erase-board-modal h2 {
    font-size: 2rem;
}


#chalk-box {
    position:absolute;
    bottom:7vh;
    right: 5vw;

    height: 25vh;
    width: 25vw;
    border-radius: 1em;
}
#chalk-box:hover {
    cursor: pointer;
    border: dashed var(--chalkWhite) 10px ;
}

#instructions {
    position:absolute;
    bottom:4vh;
    right: 10vw;
    /* border: red dashed 1px; */
}

.hidden {
    display: none !important;
}

/* https://stackoverflow.com/questions/23549967/css-3-filter-blur-not-using-transition-duration */
.blurred {
    -webkit-filter: blur(30px); -moz-filter: blur(30px);
    -o-filter: blur(30px); -ms-filter: blur(30px); 
    filter: url(#blur); filter: blur(30px);  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
    -webkit-transition: 20s -webkit-filter linear;
    -moz-transition: 20s -moz-filter linear;
    -o-transition: 20s -o-filter linear;
    transition: 20s filter linear;
    background-color: var(--chalkWhite);
}

/* https://stackoverflow.com/questions/11660710/css-transition-fade-in */
.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
