:root {
    --grey:rgba(128, 128, 128, 0.507);
    --lighter-grey: rgba(128, 128, 128, 0.301);
}


body {
    background-image: url('../images/chalkboard.jpeg');
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.233);
    font-family: 'dk_cool_crayonregular'
}

button {
    background-color: rgba(0, 0, 0, 0.233);
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    position: fixed;
    bottom: 30%;
    right: 50%;
    transform:  translateX(50%);
    padding:0 .75em;

    font-size: 3em;
    font-family: inherit;
    color: var(--grey);

    border: 1px solid var(--grey);
    border-radius: 1em ;
}
button:hover {
    cursor: pointer;
    font-size: 3.1em;
    color: black;
    border: 1px solid black;

    box-shadow: 0 .1em var(--lighter-grey);
}

#name-container {
    position: fixed;
    top: 20%;
    right: 50%;
    transform:  translateX(50%);
}

p {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    color: rgba(255, 255, 255, 0.582);
    margin: 0 0;
    font-size: 5em;
    text-align: center;
    line-height: 1.5em;
    letter-spacing: .2em;
}

.hidden {
    display:none;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fade-out {
	opacity: 1;
	animation-name: fadeOutOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeOutOpacity {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
